:root {
    --add-button-color: #86efac;
    --add-button-color-dark: #4ade80;
    --cancel-button-color: #fca5a5;
    --cancel-button-color-dark: #f87171;
    --add-project-task-color: #d6d3d1;
    --message-outline: 0 2px 5px rgba(0, 0, 0, 0.4);
    --overlay-bg: rgba(90, 90, 90, 0.5); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
body {
    min-height: 100vh;
}

.hidden {
    display: none !important;
}

button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

button:hover {
    background-color: var(--add-project-task-color);
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: var(--message-outline);
    z-index: 2;
}

.input-popup,
.select-popup {
    border: 1px solid #aaa;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.popup-buttons {
    display: flex;
    gap: 20px;
    width: 100%;
}

.button-confirm-popup {
    border: 1px solid transparent;
    background-color: var(--add-button-color);
    font-weight: bold;
}

.button-confirm-popup:hover {
    background-color: var(--add-button-color-dark);
}

.button-cancel-popup {
    border: 1px solid transparent;
    background-color: var(--cancel-button-color);
    font-weight: bold;
}

.button-cancel-popup:hover {
    background-color: var(--cancel-button-color-dark);
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--overlay-bg);
    z-index: 1;
}

/* heading */
.header {
    text-align: center;
    padding: 10px 20px;
}

/* content */
.main {
    display: flex;
}

/* sidebar projects */
.side-bar {
    width: 350px;
    padding: 20px;
}

.projects-heading {
    border-bottom: solid 2px;
    padding-bottom: 5px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 10px 20px;
}

.project-action:after {
    content: '\2807';
    font-size: 24px;
}

.project-dropdown {
    position: absolute;
    z-index: 2;
    transform: translate(-85px, -75px);
    box-shadow: var(--message-outline);
}

.edit-project,
.delete-project {
    padding: 5px;
    border-radius: 0px;
}

/* add project form */
.project-form {
    padding: 10px;
}

.delete-message {
    width: 350px;
    height: 150px;
    padding: 30px 50px;
}

/* tasks content */
.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.tasks {
    flex: 1;
    padding: 25px 45px;
}

.project, 
.task {
    cursor: pointer;
}

.task-form {
    width: 320px;
    padding: 30px;
}

/* task card */
.task {
    display: flex;
    align-items: center;
    gap: 8px;
    border: solid 1.5px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

/* task info */
.unchecked {
    width: 13px;
    height: 13px;
    border: solid 2px;
    border-radius: 50%;
    /* margin-right: 8px; */
}

.task-details {
    flex: 1;
}

.task-title {
    font-size: 1.25rem;
}